body {
    font-family: 'Arial', sans-serif;
    background-color: #1b1b1b;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar {
    position: sticky;
    z-index: 1;
    background-color: #1f1f1f;
    top: 0;
    left: 0;
    margin: 0;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link, .btn-outline-light, .text-white {
    color: #e0e0e0 !important;
}

.navbar-brand {
    font-family: 'Karla', sans-serif;
    font-weight: 600;
}

.navbar-brand:hover, .nav-link:hover {
    color: #ffffff !important;
}

.container-fluid {
    padding: 0 15px;
}

.icon-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.icon-container i {
    font-size: 2rem;
    margin: 0 15px;
    color: #e0e0e0;
}

form h1 {
    font-weight: bold;
    margin: 0;
    color: #ffffff;
}

form input, form select, form textarea {
    background-color: #333;
    border: 1px solid #555;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    color: #e0e0e0;
    border-radius: 4px;
}

.form-group label {
    margin-top: 15px;
    font-weight: bold;
    color: #00acc1;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: linear-gradient(to right, #00bfa5, #7364d2);
    border: none;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: linear-gradient(to right, #009e8a, #6042b1);
}

.button {
    border: none;
    padding: 12px 45px;
    margin-top: 20px;
    background: linear-gradient(to right, #00bfa5, #7364d2);
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 80ms ease-in, background 0.3s ease;
}

.button:hover, .button:focus, .button:active {
    background: linear-gradient(to right, #009e8a, #6042b1);
}

.button:active {
    transform: scale(0.95);
}

.button:focus {
    outline: none;
}

.form-text {
    color: #e0e0e0;
}

footer a {
    color: #00acc1 !important;
}

main {
    padding-top: 80px;
    padding-bottom: 20px;
}

.form-container {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#graph {
    margin-top: 20px;
}
